@import url('reset.css');
@import url('theme.css');
@import url('switcher-theme.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background: var(--background-img), var(--color-bg); 
    font-size: 16px;
}

.site-header {
    width: 100%;
    height: 80px;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header .logo img {
    width: 180px;
    margin-left: 32px;
}

.site-header .logo-mobile {
    display: none;
}

.site-header_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.site-header_right .nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    color: var(--color-title);
    font-weight: 600;
    margin: 0;
    padding: 0;
    list-style: none;
}

#burger-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-title);
    display: none;
    width: 80px;
    height: 80px;
    border-left: 1px solid var(--color-border);
}

.switch {
    margin-right: 25px;
}

@media (max-width: 800px) {
    .site-header_right .nav ul li:not(:last-child) {
        display: none;
    }
    .site-header .logo-desktop {
        display: none;
    }
    .site-header .logo-mobile {
        display: block;
        width: 50px!important;
    }

.site-header_right .nav.active {
    background-color: var(--color-opacity);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    backdrop-filter: blur(8px);
}

.site-header_right .nav.active ~ #burger-btn {
    display: block;
    z-index: 3;
    border: none;
}
.site-header_right .nav.active ~ .theme-switcher {
    z-index: -1;
}

.site-header_right .nav ul {
    gap: 15px;
    flex-direction: column;
    font-size: 25px;
}
#burger-btn {
    display: block;
}
.site-header_right .nav.active ul li {
    display: block;
    margin: 8px 0;
}
.site-header_right {
    gap: 0;
}
}